@let usuarioEdicao = usuario();

<app-card>
  <div slot="titulo" class="d-flex gap-3">
    <span>Usuários - {{usuarioEdicao.id ? 'Alteração' : 'Inclusão'}}</span>
    <div class="ms-auto">
      <button class="btn btn-outline-light"
        routerLink="'..'">Voltar</button>
    </div>
  </div>

  <form [formGroup]="formUsuario" autocomplete="off">
    <div class="row gy-4">
      <div class="col-md-6">
        <label for="usuarioNome" class="form-label">
          <span class="d-flex gap-1">Nome
            <abbr title="Este campo é obrigatório">*</abbr>
          </span>
        </label>

        <div class="has-validation input-group">
          <input type="text" class="form-control"
            id="usuarioNome" formControlName="nome"
            aria-describedby="usuarioNome_erros"
            [class.is-invalid]="formUsuario.controls.nome.invalid && formUsuario.controls.nome.touched"
            [attr.aria-invalid]="formUsuario.controls.nome.invalid" />

          <div id="usuarioNome_erros" class="invalid-feedback">
            @let nomeErros = formUsuario.controls.nome.errors || {};
            @if (nomeErros['required']) {
              <div>Preencha este campo</div>
            }
            @if (nomeErros['minlength']) {
              <div>Mínimo de caracteres: {{nomeErros['minlength'].requiredLength}}</div>
            }
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <label for="usuarioEmail" class="form-label">
          <span class="d-flex gap-1">E-mail
            <abbr title="Este campo é obrigatório">*</abbr>
          </span>
        </label>

        <div class="has-validation input-group">
          <input type="text" class="form-control"
            id="usuarioEmail" formControlName="email"
            aria-describedby="usuarioEmail_erros"
            [class.is-invalid]="formUsuario.controls.email.invalid && formUsuario.controls.email.touched"
            [attr.aria-invalid]="formUsuario.controls.email.invalid" />

          <div id="usuarioEmail_erros" class="invalid-feedback">
            @let emailErros = formUsuario.controls.email.errors || {};
            @if (emailErros['required']) {
              <div> Preencha este campo</div>
            }
            @if (emailErros['email']) {
              <div>E-mail inválido</div>
            }
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <label for="usuarioMatricula" class="form-label">
          <span class="d-flex gap-1">Matrícula</span>
        </label>

        <div class="has-validation input-group">
          <input type="number" class="form-control"
            id="usuarioMatricula" formControlName="matricula"
            aria-describedby="usuarioMatricula_erros"
            [class.is-invalid]="formUsuario.get('matricula')?.invalid && formUsuario.get('matricula')?.touched"
            [attr.aria-invalid]="formUsuario.controls.matricula.invalid" />

          <div id="usuarioMatricula_erros" class="invalid-feedback">
            @let matriculaErros = formUsuario.controls.matricula.errors || {};
            @if (matriculaErros['min']) {
              <div>Matrícula inválida</div>
            }
          </div>
        </div>
      </div>

      @if (usuarioEdicao.dataCadastro) {
        <div class="col-md-4">
          <label for="usuarioDataCadastro" class="form-label">
            <span class="d-flex gap-1">Data de Cadastro</span>
          </label>

          <input type="text" class="form-control" id="usuarioDataCadastro" disabled
            [value]="usuarioEdicao.dataCadastro | date : 'dd/MM/yyyy HH:mm'">
        </div>
      }
    </div>

    <div class="col-md-12 mt-4">
      <div class="form-check form-switch">
        <label for="informarDataNascimento" class="form-check-label">Informar data de nascimento?</label>
        <input type="checkbox" class="form-check-input" id="informarDataNascimento"
          [formControl]="informarDataNascimento"
          (change)="informarDataNascimentoChange()">
      </div>
    </div>

    @if (informarDataNascimento.value) {
      <div class="col-md-2">
        <label for="usuarioDataNascimento" class="form-label">
          <span class="d-flex gap-1">Dt. Nascimento</span>
        </label>

        <div class="has-validation input-group">
          <input type="text" class="form-control"
            id="usuarioDataNascimento" formControlName="dataNascimento"
            aria-describedby="usuarioDataNascimento_erros"
            [class.is-invalid]="formUsuario.get('dataNascimento')?.invalid && formUsuario.get('dataNascimento')?.touched"
            [attr.aria-invalid]="formUsuario.get('dataNascimento')?.invalid" />

          <div id="usuarioDataNascimento_erros" class="invalid-feedback">
            @let dataNascimentoErros = formUsuario.get('dataNascimento')?.errors || {};
            @if (dataNascimentoErros['required']) {
              <div> Preencha este campo</div>
            }
          </div>
        </div>
      </div>
    }

    @if (formUsuario.errors && formUsuario.touched) {
      <div class="text-danger mt-5 fw-semibold">
        @if(formUsuario.errors['matricula.reservada']) {
          <p>A matrícula está em uma faixa reservada para usuários do MPF</p>
        }
      </div>
    }
  </form>

  <hr class="divider mt-5">
  <div class="d-flex justify-content-end gap-3">
    <button class="btn btn-outline-secondary"
      (click)="formUsuario.reset()" >Limpar
    </button>
    <button class="btn btn-primary" [disabled]="formUsuario.invalid"
      (click)="salvarClick()">Salvar
    </button>
  </div>

  <hr class="divider mt-4">
  <div>Form: <code>{{formUsuario.value | json}}</code></div>
</app-card>

