<app-card titulo="Usuário">
  @if (usuario?.nome) {
    <div slot="titulo" class="d-flex gap-3">
      <span>{{usuario?.nome}}</span>
      <div class="ms-auto">
        <button class="btn btn-sm btn-outline-light" routerLink="..">Voltar</button>
      </div>
    </div>
  }

  @if (usuario) {
    <div class="d-flex flex-wrap gap-4 p-3">
      <div>
        <p><b>E-mail:</b> {{usuario.email}}</p>
        <p><b>Matrícula:</b> {{usuario.matricula}}</p>
        <p><b>Data Nascimento:</b> {{usuario.dataNascimento | date : 'dd/MM/yyyy'}}</p>
        <p><b>Cadastro: </b> {{usuario.dataCadastro | date : 'dd/MM/yyyy'}}</p>
      </div>
      <div class="ms-auto">
        <img src="./img/atalhos/icone-generico.jpg" width="128" class="rounded-circle">
      </div>
    </div>
  }
</app-card>
