<div class="container">

  @if (atalhos.isLoading()) {
    <h2 class="text-center">Carregando atalhos...</h2>
  }
  @else if (atalhos.error()) {
    <h2 class="text-center text-danger">{{atalhos.error()}}</h2>
  }
  @else {
    @let destaques = atalhosDestaque().length > 0 ? atalhosDestaque() : atalhosMaisSistemas();

    <app-portal-destaques [atalhos]="destaques"></app-portal-destaques>

    @if (atalhosDestaque().length > 0 && atalhosMaisSistemas().length > 0) {
      <app-portal-mais-sistemas
        [atalhos]="atalhosMaisSistemas() | ordenar : 'nome'" [minimoColapsar]="6"
        [templateLink]="templateLinkMaisSistemas()"
        (atalhoPromovido)="promoverAtalhoMaisSistemas($event)">
      </app-portal-mais-sistemas>
    }
  }
</div>
