@if (usuarios.length) {
  <div class="input-group">
    <input type="text" [formControl]="filtro" class="form-control" placeholder="Filtrar..." #inputFiltro>
    <button class="btn btn-primary"
      (click)="filtro.setValue(''); inputFiltro.focus()">Limpar</button>
  </div>

  <table class="table table-striped mt-4" [appBloqueado]="carregando" [desfoque]="true">
    <thead class="border-top">
      <tr><th>Nome</th><th>E-mail</th><th>Matrícula</th><th>Dt. Nascimento</th></tr>
    </thead>
    <tbody>
      @for (usuario of listagemFiltrada$ | async; track usuario.id) {
        <tr>
          <td class="text-primary"><a herf="" [routerLink]="['.', usuario.id]">{{usuario.nome}}</a></td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.matricula}}</td>
          <td>{{usuario.dataNascimento | date : 'dd/MM/yyyy'}}</td>
        </tr>
      }
      @empty {
        <tr><td colspan="4">Nenhum usuário encontrado.</td></tr>
      }
    </tbody>
  </table>

  <div class="d-flex align-items-center gap-3 py-2">
    <div class="me-auto d-flex align-items-center gap-2">
      Exibir
      <select class="form-select form-select-sm" [value]="tamanhoPagina"
        (change)="alterarTamanhoPagina($any($event.target).value)">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
      </select>
      registros
    </div>

    <button class="btn btn-sm btn-secondary" [disabled]="numeroPagina < 2"
      (click)="primeira()">Primeira</button>
    <button class="btn btn-sm btn-secondary" [disabled]="numeroPagina < 2"
      (click)="anterior()">Anterior</button>

    <span>Página: {{numeroPagina}} {{totalPaginas > 0 ? 'de ' + totalPaginas : ''}}</span>

    <button class="btn btn-sm btn-secondary" [disabled]="numeroPagina >= totalPaginas"
      (click)="proxima()">Próxima</button>
    <button class="btn btn-sm btn-secondary" [disabled]="numeroPagina >= totalPaginas"
      (click)="ultima()">Última</button>
  </div>
}
@else {
  @if (erro) {
    <div class="fs-5 p-5 text-center text-danger">{{erro}}</div>
  }
  @else {
    <div class="fs-5 p-5 text-center text-secondary">Carregando listagem...</div>
  }
}

