<hr class="divider my-4">

<div class="position-relative">
  <button class="btn btn-sm btn-outline-secondary position-absolute top-0 end-0"
    (click)="editando = !editando; exibirMais = exibirMais || editando">
    {{editando ? 'Concluir' : 'Editar'}}
  </button>
</div>


@if (minimoColapsar() && atalhos().length >= minimoColapsar()) {
  <div class="d-block text-center">
    <button class="btn btn-outline-secondary fw-semibold dropdown-toggle"
      [class.active]="exibirMais"
      [disabled]="editando"
      (click)="exibirMais = !exibirMais">
      <span class="visually-hidden">{{exibirMais ? 'Ocultar' : 'Exibir'}} links para</span>
      Mais sistemas do MPF
    </button>
  </div>
}
@else {
  <h2 class="w-100 text-center">Mais sistemas do MPF</h2>
}


@if (exibirMais) {
  <nav class="links-mais-sistemas" [class.links-edicao]="editando">
    @for (atalho of atalhos(); track $index) {
      <a [href]="atalho.url" target="_blank"
        (click)="atalhoClick(atalho, $event)">
        @if (templateLink(); as templateLink) {
          <ng-container *ngTemplateOutlet="templateLink; context: { $implicit: atalho, xyz: 'teste' }"></ng-container>
        }
        @else {
          {{atalho.nome}}
        }
      </a>
    }
  </nav>
}
