.links-destaque {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links-destaque a {
  margin: 2rem;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-size: 90%;
  text-decoration: none;
  color: #456;
  outline: none;
}

.links-destaque a:hover,
.links-destaque a:focus-visible {
  text-decoration: underline;
}

.links-destaque a:hover img {
  transform: scale(1.1);
}

.links-destaque a img {
  border-radius: 50%;
  width: var(--links-destaque-img-size, 94px);
  height: var(--links-destaque-img-size, 94px);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.links-mais-sistemas {
  display: grid;
  width: clamp(300px, 30%, 70%);
  margin: 1rem auto;
}

.links-mais-sistemas a {
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #456;
  outline: none;
  border: 1px solid transparent;
}

.links-mais-sistemas a + a {
  border-top-color: #ddd;
}

.links-mais-sistemas a:hover,
.links-mais-sistemas a:focus-visible {
  background-color: #ddd6;
  text-decoration: underline;
}
