<div class="container">
  <nav class="links-destaque">
    <a href="https://novoportal.mpf.mp.br/novaintra" target="_blank">
      <img aria-hidden="true" src="img/atalhos/Intranet-MPF.jpg">Intranet
    </a>
    <a href="https://pontodigital.mpf.mp.br/pontodigital" target="_blank">
      <img aria-hidden="true" src="img/atalhos/PontoDigital.jpg">Ponto Digital
    </a>
    <a href="https://unico.mpf.mp.br/unico" target="_blank">
      <img aria-hidden="true" src="img/atalhos/Unico.jpg">Único
    </a>
    <a href="https://novoportal.mpf.mp.br/snp" target="_blank">
      <img aria-hidden="true" src="img/atalhos/SNP.jpg">SNP
    </a>
    <a href="https://novoportal.mpf.mp.br/kairos" target="_blank">
      <img aria-hidden="true" src="img/atalhos/Kairos.jpg">Kairos
    </a>
    <a href="https://horus.mpf.mp.br/horus" target="_blank">
      <img aria-hidden="true" src="img/atalhos/Horus.jpg">Hórus
    </a>
    <a href="https://mail.google.com/a/mpf.mp.br" target="_blank">
      <img aria-hidden="true" src="img/atalhos/Correio.jpg">Correio Eletrônico
    </a>
    <a href="https://novoportal.mpf.mp.br/biblioteca" target="_blank">
      <img aria-hidden="true" src="img/atalhos/Biblioteca.jpg">Biblioteca
    </a>
  </nav>

  <hr class="divider my-4">
  <h2 class="text-center">Mais sistemas do MPF</h2>

  <nav class="links-mais-sistemas">
    <a href="https://novoportal.mpf.mp.br/apex/f?p=pin" target="_blank">PIN</a>
    <a href="https://novoportal.mpf.mp.br/apex/f?p=sigov" target="_blank">SIGOV</a>
    <a href="https://radar.mpf.mp.br/radar2" target="_blank">RADAR</a>
    <a href="https://novoportal.mpf.mp.br/sisam/portal" target="_blank">SISAM</a>
    <a href="https://novoportal.mpf.mp.br/extractus" target="_blank">Extractus</a>
    <a href="https://novoportal.mpf.mp.br/sspr" target="_blank">Portal de Senhas</a>
    <a href="https://novoportal.mpf.mp.br/autoriza" target="_blank">Sistema Autoriza</a>
  </nav>
</div>
